@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>Email</th> 
        <th>UserName</th>
        <th>Comment</th>
        <th>IsApproved</th>
        <th>DateCreated</th>
        <th>DateLastLogin</th>
        <th>DateLastPasswordChange</th>  
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Email</td>  
        <td>@item.UserName</td> 
        <td>@item.Comment</td> 
        <td>@item.IsApproved</td>  
        <td>@item.DateCreated</td>   
        <td>@item.DateLastLogin</td>  
        <td>@item.DateLastPasswordChange</td>  
    </tr>
}

</table>



 