

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Assets.Script("jquery.validate.min.js")  
@Assets.Script("jquery.validate.unobtrusive.min.js")   


<div class="vidform">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)   
        @Form.TextBox(name: "FirstName", value: Model.FirstName) 
        @Form.TextBox(name: "LastName", value: Model.LastName) 
        @Form.TextBox(name: "Email", value: Model.Email) 
        @Form.TextBox(name: "Address", value: Model.Address)  
        @Form.TextBox(name: "IpAddress", value: Model.IpAddress) 
        @Form.TextBox(name: "Session", value: Model.Session) 
        @Form.TextBox(name: "UpdatedAt", value: Model.UpdatedAt) 
 
        @Form.Submit()
    }
</div>
  
<div>
    @Html.ActionLink("Back to List", "Index")
</div>




