
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>  

<div>CurrentPage : @ViewBag.CurrentPage </div>
<div>TotalRecords : @ViewBag.TotalRecords </div>
<div>TotalPages : @ViewBag.TotalPages </div>
<div>PageSize : @ViewBag.PageSize </div>
             

<p/> 
@Html.Raw(List.Pager((int)ViewBag.CurrentPage, (int)ViewBag.PageSize, (int)ViewBag.TotalRecords, "/Admin/Logs/Index") )
<p/>
@*
<div class="vidform">
    @using (Html.BeginForm("TestLogger", "Logs"))
    {    
        @Html.AntiForgeryToken()
        @Form.Submit(value: "TestLogger")
    }
</div> 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
*@


<table>
    <tr>
        <th></th>
        <th>Summary</th> 
        <th>Level</th> 
        <th>IpAddress</th> 
        <th>Server</th>
        <th>Session</th>
        <th>User</th>
        <th>Email</th>
        <th>Date</th>
    </tr>
@foreach (var item in Model)
{
    <tr> 
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }) 

        </td>
        <td>@item.Summary</td> 
        <td>@item.Level</td> 
        <td>@item.IpAddress</td>  
        <td>@item.Server</td> 
        <td>@item.Session</td> 
        <td>@item.UserName</td> 
        <td>@item.Email</td>  
        <td>@item.UpdatedAt</td>  
    </tr>
}

</table>
